@page "/"

<PageTitle>Registro</PageTitle>

<h1>Soluciones Almonte Gil</h1>

<div class="text-center">
    Bienvenidos al registro de productos para frutos secos.
</div>

<div>
    La idea crear una opción que nos permita transformar un conjunto de cajas de
    frutos secos en unidades empacadas de frutos mixtos.
</div>

<SurveyPrompt Title="How is Blazor working for you?" />